 @import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;700&display=swap');

 /* Global */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .add-flex {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .container {
     max-width: 1200px;
     padding: 0 40px;
     margin: 0 auto;
     width: 100%;
 }

 li {
     list-style: none;
 }

 /* Header */

 .header {
     background-color: #396fb5;
     height: 6vh;
     min-height: 60px;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .logo {
     text-decoration: none;
 }

 .logo-text {
     font-size: 30px;
     font-family: "Carter One", sans-serif;
     color: #FFF;
     letter-spacing: 0.5px;
     font-weight: 400;
 }

 .navbar {
     width: 100%;
     display: flex;
     justify-content: space-between;
     vertical-align: baseline;
     align-items: center;
     position: relative;
     z-index: 1;
 }

 .menu-top-row {
     display: flex;
     align-items: center;
 }

 .menu-top-row li a {
     padding: 10px 18px;
     border-radius: 5px;
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     color: #fff;
     text-decoration: none;
 }

 .menu-top-row li a:hover {
     background-color: #FFC700;
     color: #5f01b1;
 }

 .header-icon {
     display: none;
 }

 #check {
     z-index: 3;
     display: none;
 }

 /* Hero screen */

 #hero {
     width: 100%;
     min-height: 94vh;
     background-image: url("../img/hero7.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .hero-content {
     width: 100%;
     min-height: 100vh;
     position: absolute;
     top: 0;
     left: 0;
 }

 .hero-text {
     padding: 0 24px;
     font-family: "Montserrat", sans-serif;
     font-size: 45px;
     color: #fff;
     font-weight: 500;
 }

 .hero-content-btn {
     text-decoration: none;
     margin-top: 20px;
     font-size: 20px;
     display: inline-block;
     padding: 12px 20px;
     font-family: "Poppins", sans-serif;
     color: #5f01b1;
     background-color: #FFC700;
     border-radius: 10px;
     position: absolute;
     bottom: 90px;
 }

 .hero-content-btn:hover {
     color: #fff;
 }


 /* Bike-screen */

 #bikes {
     padding-bottom: 40px;
 }

 .section-header {
     margin: 10px 0;
     color: #113548;
     text-align: center;
     font-size: 30px;
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     line-height: 50px;
 }

 .bikes-content {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     background: #FFF;
 }

 .item-card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 300px;
     height: 330px;
     border-radius: 24px;
     border: 1px solid #113548;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     margin: 20px;
     position: relative;
     transition: 0.3s;
     transition-property: transform;
 }

 .item-card:hover .price {
     transform: scale(1.2);
     background-color: rgba(16, 86, 112, 1);
 }

 .item-card:hover {
     transform: scale(1.03);
 }

 .item-card-img {
     width: 100%;
     height: 180px;
     flex-shrink: 0;
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
 }

 .price {
     width: 55px;
     height: 55px;
     border-radius: 50%;
     background-color: rgba(16, 86, 112, 0.9);
     color: white;
     position: absolute;
     top: 15px;
     right: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.3s;
     transition-property: transform, background-color;
 }

 .price span {
     color: #FFF;
     text-align: center;
     font-size: 18px;
     font-family: "Roboto", sans-serif;
     font-weight: 600;
 }

 #card1-img {
     background-image: url(../img/bike1.png);
 }

 #card2-img {
     background-image: url(../img/bike2.png);
 }

 #card3-img {
     background-image: url(../img/bike3.png);
 }

 #card4-img {
     background-image: url(../img/bike4.png);
 }

 #card5-img {
     background-image: url(../img/bike5.png);
 }

 #card6-img {
     background-image: url(../img/bike6.png);
 }

 .item-card h3 {
     padding: 5px;
     color: #113548;
     text-align: center;
     font-size: 20px;
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     line-height: 36px;
     letter-spacing: 0.5px;
 }

 .item-card p {
     padding: 0px 8px;
     color: #113548;
     text-align: center;
     font-size: 14px;
     font-family: "Roboto", sans-serif;
 }

 /* Book screen */

 #rent {
     width: 100%;
     background-image: url("../img/hero8.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .rent-content {
     min-height: 100vh;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
 }

 .rent-form {
     padding: 24px;
     display: flex;
     flex-direction: column;
     justify-content: left;
     width: 464px;
     min-height: 625px;
     border-radius: 20px;
     background: rgba(255, 255, 255, 0.7);
     margin-right: 40px;
     position: relative;
 }


 .form-title {
     color: #10556F;
     text-align: center;
     font-size: 24px;
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     line-height: 36px;
     letter-spacing: 0.5px;
     margin-bottom: 16px;
 }

 .form-description {
     padding-left: 5px;
     color: #113548;
     font-size: 16px;
     font-family: "Robotto", sans-serif;
     line-height: 22px;
 }

 .form-input {
     padding: 16px 24px;
     width: 100%;
     height: 48px;
     flex-shrink: 0;
     border-radius: 14px;
     border: 1px solid gray;
     margin-top: 5px;
     margin-bottom: 12px;
 }

 .input-textarea {
     padding: 16px 24px;
     width: 100%;
     height: 120px;
     resize: none;
     border-radius: 14px;
     border: 1px solid gray;
     margin-top: 5px;
     margin-bottom: 5px;

 }

 .rent-form-bottom {
     width: 100%;
     display: flex;
     height: 70px;
     padding: 20px;
     justify-content: center;
 }

 .form-button {
     align-self: center;
     font-size: 16px;
     font-weight: 600;
     padding: 8px 40px;
     font-family: "Poppins", sans-serif;
     color: #5f01b1;
     background-color: #FFC700;
     border-radius: 6px;
     border: 1px solid gray;
 }

 .form-button:hover {
     color: #fff;
 }

 /* our-team */

 #team {
     padding-bottom: 40px;
 }

 .team-content {
     min-height: 100%;
     width: 100%;
     background: #ffffff;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-content: center;
     align-items: center;
     justify-content: space-evenly;
 }

 .team-item-card {
     position: relative;
     display: flex;
     justify-content: center;
     flex-shrink: 0;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     width: 45%;
     min-width: 300px;
     height: 320px;
     border-radius: 5px;
     border: 1px solid #113548;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     margin: 10px;
     transition: 0.3s;
     transition-property: transform;
 }

 .team-item-card:hover {
     transform: scale(1.03);
 }

 .team-item-card:hover .team-item-card-text {
     display: block;
     background-color: rgba(0, 0, 0, 0.3);
     border-radius: 4px;
     padding: 2px;
     transform: scale(6);
     color: #FFF;
 }

 .team-item1 {
     background-image: url(../img/face1.jpg);
 }

 .team-item2 {
     background-image: url(../img/face2.jpg);
 }

 .team-item3 {
     background-image: url(../img/face3.jpg);
 }

 .team-item4 {
     background-image: url(../img/face4.jpg);
 }

 .team-item-card-text {
     position: absolute;
     bottom: 50px;
 }

 .team-item-card-text {
     transition: 0.3s;
     transition-property: transform;
 }

 .team-item-card-text {
     font-size: 5px;
     font-family: "Carter One", sans-serif;
     color: transparent;
     letter-spacing: 0.5px;
     font-weight: 400;
 }


 /* Promo section*/
 .promo-content {
     display: flex;
     width: 100%;
     background-image: url("../img/videobg.jpg");
     background-repeat: no-repeat;
     background-position: bottom;
     background-size: cover;
     align-items: center;
     justify-content: center;
     flex-direction: row;
 }

 .promo-video {
     width: 560px;
     height: 315px;
     border-radius: 5px;
     border: 3px solid #113548;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     margin: 50px 0;
     flex-shrink: 0;
     overflow: hidden;
 }

 /* Footer section */

 .footer {
     width: 100%;
     min-height: 190px;
     background-color: #052649;
 }

 .footer-wraper {
     margin: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .footer-left {
     min-height: 190px;
     margin: 10px;
     display: flex;
     flex-direction: column;
     justify-content: left;
 }

 .footer-left ul {
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: flex-end;
 }

 .footer-left ul li {
     margin-top: 10px;
 }

 .footer-left ul li a {
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     color: #fff;
     text-decoration: none;
 }

 .footer-left ul li a:hover {
     color: #FFC700;
 }

 .footer-logo {
     width: 180px;
     height: 180px;
     margin: 0 10px;
     background-image: url(../img/logo-bottom.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     transition: 0.3s;
     transition-property: transform;
 }

 .footer-logo:hover {
     transform: scale(1.2);
 }

 .footer-right {

     min-height: 190px;
     margin-right: 10px;
     display: flex;
     flex-direction: column;
     justify-content: left;
 }

 .footer-right ul {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: end;
     justify-content: flex-end;
 }

 .footer-right ul li {
     width: 100%;
     margin-top: 10px;
 }


 .footer-right ul li a:hover {
     color: #FFC700;
 }


 .copyright {
     font-family: "Poppins", sans-serif;
     font-size: 10px;
     color: #fff;
     text-decoration: none;
     text-align: right;
 }

 .follow-us {
     margin-top: 10px;
     font-family: "Carter One", sans-serif;
     font-size: 16px;
     color: #fff;
     text-decoration: none;
     text-align: right;
 }

 .social-networks {
     text-align: right;
 }

 .social-networks i {
     font-size: 200%;
     margin: 1%;
     padding: 5%;
     color: #ffffff;
     transition: 0.3s;
     transition-property: transform;
 }

 .social-networks i:hover {
     color: #FFC700;
     transform: scale(1.5);
 }

 /* Adaptive for screens  < 920px */

 @media (max-width: 920px) {
     .container {
         padding-left: 20px;
         padding-right: 20px;
     }

     .menu-top {
         display: none;
     }

     .header-icon {
         display: block;
         font-size: 25px;
         cursor: pointer;
         color: #FFF;
         transition: 0.3s;
         transition-property: color;
     }

     .header-icon:hover {
         color: #FFC700;
     }

     .header-icon .close-btn {
         display: none;
     }

     #check:checked~.menu-top {
         z-index: 2;
         position: fixed;
         background: rgba(57, 111, 181, 0.8);
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
         display: flex;
     }

     #check:checked~.menu-top>ul {
         flex-direction: column;
         justify-content: center;
         margin: 0 auto;
         position: relative;
     }

     #check:checked~.menu-top>ul>li>a {
         font-size: 28px;
         line-height: 50px;
         font-weight: 500;
         margin-bottom: 20px;
         letter-spacing: 2px;
     }

     #check:checked~.header-icon .menu-btn {
         display: none;
         position: absolute;
         right: 10px;
     }

     #check:checked~.header-icon .close-btn {
         z-index: 2;
         display: block;
         position: fixed;
          right: 40px;
          top: 25px;
     }

     .header-icon .menu-btn {
         position: absolute;
             right: 20px;
             top: 15px;
     }


     .header {
         min-width: 4vh;
     }

     .rent-form {
         padding: 12px;
         margin: 0 auto;
     }


 }

 /* Adaptive for screens  < 580px */

 @media (max-width: 580px) {

     .container {
         padding-left: 10px;
         padding-right: 10px;
     }

     .footer-logo {
         display: none;
     }

     #promo {
         display: none;
     }

     .logo>h1 {
         font-size: 20px;
     }

     .hero-text {
         font-size: 34px;
     }

    .header-icon .menu-btn {
        position: absolute;
            right: 25px;
            top: 5px;
    }
    .navbar{
        padding-left: 15px;
    }
  
 }